*{
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/background.jpg');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;

    color: white;
}

.wrapper {
    background-color: transparent;
    width: 50vw;
    height: 400px;
    margin: auto;
    border: 10px solid white;
    font-weight: bolder;
    font-size: large;
    display: flex;
    align-items: center;
    flex-direction: column;

}

h1 {
    margin: 40px 0;
}

button {
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 5px;
    font-weight: bolder;
    color: green;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: green;
    color: white;
    box-shadow: 0px 0px 10px black;
}

a{
    background-color: yellow;
    border-radius: 5px;
    width: fit-content;
    padding: 0px 10px;

}